* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth; /* //do anchora zeby byl gladki */
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
}

.hero-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  width: 400px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.hero-txt h1 {
  margin-bottom: 5px;
  text-shadow: 3px 3px 5px #000;
  color: #ddd;
  letter-spacing: 2px;
}

.hero-txt span {
  text-transform: uppercase;
  background-color: #861657;
  background-image: linear-gradient(315deg, #861657 0%, #aa4465 74%);
}

.section-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

section {
  scroll-margin-top: 70px; /*  //po to zeby nav nie najezdzala na tekst przy anchorach */
}

/* nawigacja */
nav {
  position: sticky;
  top: 0;
  height: 60px;
  line-height: 60px;
  /* background-color: #ddd; */
  background-color: #861657;
  background-image: linear-gradient(315deg, #861657 0%, #aa4465 74%);
  text-align: center;
  z-index: 10;
}

.burger-icon {
  display: block;
  margin-left: auto;
  padding: 0 30px;
  background: none;
  font-size: 30px;
  line-height: 60px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.burger-icon:hover {
  background-color: #9f9e9e48;
  /* opacity: 0.2; */
  color: #333;
}

.nav-items {
  display: none;
}

/* header */

.header {
  position: relative;
  background-image: url("../img/nature.jpg");
  height: 330px;
  background-size: cover;
  background-position: center;
}

/* main */

main {
  margin: 60px 0;
  height: 100%;
}

.about-us-info {
  margin-bottom: 10px;
  padding: 0 20px;
}

/* //produkty  */
.products {
  margin: 60px auto;
  position: relative;
  height: 630px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.products h3 {
  text-transform: uppercase;
}

.product {
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 16px;
}

.product h3 {
  text-transform: uppercase;
  transition: transform 0.3s;
}

.product:hover h3 {
  transform: scale(1.2);
}

.first-product {
  background-image: url("../img/homeschoolingjpg.jpg");
}

.second-product {
  background-image: url("../img/cleaning-supplies.jpg");
}

.third-product {
  background-image: url("../img/blood.jpg");
}

.fourth-product {
  background-image: url("../img/wash-your-hands.jpg");
}

/* produkty */

.images-products {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 0 0;
}

.products-block {
  margin: 30px auto;
  padding: 30px 0 30px;
}
.img-product1 {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("../img/kitchen.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  overflow: hidden;
}

.img-product2 {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("../img/officejpg.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  overflow: hidden;
}

.img-product3 {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("../img/viscoplast-universal-set-assorted-24-pack-clip.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  overflow: hidden;
}

.img-bg1 {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 20px;
}

.img-bg2 {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 20px;
}
.img-bg3 {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: rgb(0, 0, 0, 0.7);
  border: 2px solid black;
  border-radius: 20px;
}
.img-txt {
  position: absolute;
  top: 60%;
  left: 50%;
  color: #fff;
  width: 400px;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
}
/* kontakt */
.contact {
  margin: 20px auto;
  height: 460px;
  /* text-align: center; */
}

.contact h3 {
  margin: 20px 0 15px;
}

.contact h2 {
  margin: 50px 0 5px;
}

.left-contact-img {
  width: 500px;
  height: 400px;
  background-image: url("../img/building.jpg");
  background-size: cover;
  background-position: center;
  margin-right: 30px;
  border-top-left-radius: 75px;
  border-bottom-right-radius: 75px;
}

.right-contact-info {
  position: relative;
  width: 400px;
  height: 250px;
  background-color: #795f6e;
  background-image: linear-gradient(315deg, #ffffff 0%, #ded5d8 90%);
  overflow: hidden;
  background-size: 100%;
  animation: contact 6s linear infinite;
  box-shadow: 0 0 90px 15px #795f6e;
  border-top-left-radius: 75px;
  border-bottom-right-radius: 75px;
}

@keyframes contact {
  0% {
    transform: scale(1);
    opacity: 0.3s;
  }
  40% {
    transform: scale(0.9);
    opacity: 0.4s;
  }
  60% {
    transform: scale(0.9);
    opacity: 0.4s;
  }
  100% {
    transform: scale(1);
    opacity: 1s;
  }
}

.contact-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  margin: 0 20px;
}
.contact-txt {
  position: absolute;
  top: 0%;
  left: 0%;
  color: #121111;
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  /* transform: translate(-50%, -50%); */
}

/* footer */

footer {
  text-align: center;
  padding: 30px 10px;
  font-size: 18px;
  /* background-color: #ddd; */
  background-color: #861657;
  background-image: linear-gradient(315deg, #861657 0%, #aa4465 74%);

  color: #fff;
  /* line-height: 60px; */
}

/* //breakpoint pod mniejsze ekrany */
@media (min-width: 300px) {
  .header {
    background-image: url("../img/nature.jpg");
    height: 300px;
  }

  .hero-txt {
    width: 250px;
  }
  .hero-txt h1 {
    font-size: 18px;
  }
  .hero-txt p {
    font-size: 16px;
  }
  .products {
    height: 1200px;
  }

  .images-products {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
  }
  .img-product1,
  .img-product2,
  .img-product3 {
    margin: 30px 10px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .contact-block {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .left-contact-img {
    margin: 10px auto;
    background-position: 0 30%;
    width: 100%;
  }

  .right-contact-info {
    height: 400px;
    padding: 50px;
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 568px) {
  .hero-txt {
    width: 380px;
  }

  .hero-txt h1 {
    font-size: 35px;
  }
  .hero-txt p {
    font-size: 18px;
  }
  .products {
    height: 1200px;
  }

  .images-products {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
  }

  .img-product1,
  .img-product2,
  .img-product3 {
    margin: 30px 10px;
    flex-shrink: 1;
  }
  .contact-block {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .left-contact-img {
    margin: 10px auto;
    background-position: 0 30%;
    width: 100%;
  }

  .right-contact-info {
    height: 400px;
    padding: 50px;
    margin: 20px auto;
  }
}

@media (min-width: 768px) {
  .burger-icon {
    display: none;
  }

  .nav-items {
    display: block;
  }

  .nav-items a {
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
  }
  .nav-items a:hover {
    text-decoration: underline;
  }

  .header {
    background-image: url("../img/nature.jpg");
    height: 400px;
  }

  .hero-txt {
    width: 300px;
  }

  .hero-txt h1 {
    font-size: 36px;
  }
  .hero-txt p {
    font-size: 18px;
  }
  .products h3 {
    font-size: 24px;
  }
  .products {
    height: 1200px;
  }

  .images-products {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 30px;
  }

  .img-product1,
  .img-product2,
  .img-product3 {
    margin: 30px 10px;
    flex-shrink: 1;
  }

  .contact-block {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
  }

  .left-contact-img {
    margin: 10px auto;
    background-position: 0 30%;
    /* width: 100%; */
  }

  .right-contact-info {
    height: 200px;
    padding: 30px 0;
    margin: 20px 40px;
  }
}

@media (min-width: 992px) {
  .products-box {
    font-size: 0;
    height: 100%;
  }

  .product {
    display: inline-block;
    width: 50%;
  }

  .products h3 {
    font-size: 24px;
    /* width: 596px; */
  }
  .hero-txt {
    width: 300px;
  }

  .products {
    height: 620px;
  }

  .images-products {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 30px;
  }
}

@media (min-width: 1200px) {
  .hero-txt {
    width: 300px;
  }

  .hero-txt h1 {
    font-size: 44px;
  }
  .hero-txt p {
    font-size: 22px;
  }
  .products {
    height: 620px;
  }
  .images-products {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 30px;
  }
}
