* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

/* nawigacja */
.nav {
  height: 50px;
  /* background-color: #333; */
  background-color: #5de6de;
  background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
  text-align: center;
  line-height: 50px;
  font-size: 0;
}

.nav-item {
  display: inline-block;
  transition: background-color 0.3s;
}

.nav-item a {
  color: #fff;
  padding: 0 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 16px;
}

.nav-item a:hover {
  color: royalblue;
}

/* header */

.header-img {
  position: relative;
  height: 250px;
  background-image: url("../img/fantasy.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: 0 50%;
}

.header-txt {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
}

.header-txt h1 {
  margin-bottom: 10px;
  font-size: 38px;
  letter-spacing: 2px;
}

.header-txt p {
  font-size: 22px;
}

.header-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(13, 145, 165, 0.683);
}

/* main */

main {
  width: 1100px;
  margin: 50px auto;
}

h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}

.about-us-box {
  margin: 40px 0;
  position: relative;
  height: 350px;
  background-attachment: fixed;
  background-position: center;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}

.top {
  background-image: url(../img/computer-work.jpg);
}

.middle {
  background-image: url(../img/mobile3d.jpg);
}

.bottom {
  background-image: url(../img/office-work.jpg);
}

.last {
  background-image: url("../img/freedom.jpg");
  background-size: cover;
}

.about-us-txt {
  position: absolute;
  bottom: 5px;
  text-align: center;
  color: #fff;
}

.about-us-bg {
  height: 35%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.8);
}

.about-us-txt h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* about me */

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.my-picture {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: url("../img/moje-zdj.JPG");
  background-size: cover;
  background-position: 10% 20%;
}

.my-picture:hover {
  /* background-image: url("../img/small1.jpg"); */
  box-shadow: 0 0 50px 10px rgba(182, 181, 181, 0.5);
}

.info-about-me {
  width: 50%;
  letter-spacing: 2px;
}

.info-about-me::first-letter {
  font-size: 50px;
}

/* skills */

.skills {
  margin: 50px 0;
}

.skill-block {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  margin: 60px 0;
}

.boxes-content-skill {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.skill-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: rgba(13, 145, 165, 0.7); */
  background-color: rgba(182, 181, 181, 0.5);
}

.skill-txt {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  padding: 5px 5px;
}

.skills1 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("../img/niewyrazne-kolegow-w-biurze.jpg");
  background-size: cover;
  padding: 20px 0;
}

.skills1:hover,
.skills2:hover,
.skills3:hover,
.skills4:hover,
.skills5:hover,
.skills6:hover,
.skills7:hover,
.skills8:hover,
.skills9:hover {
  /* box-shadow: 0 0 45px rgba(13, 145, 165, 0.683); */
  box-shadow: 0 0 45px 10px rgba(182, 181, 181, 0.5);
}

.skills2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("../img/booksjpg.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.skills3 {
  background-image: url("../img/laptop-rwd.jpg");
}
.skills4 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("../img/JS.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.skills5 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("../img/git.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.skills6 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("../img/online-marketing.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.skills7 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("../img/website-kod.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.skills8 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("../img/content-management.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

/* kontakt */
.contact-img {
  width: 50%;
  height: 300px;
  background-image: url("../img/trent.jpg");
  background-size: cover;
  background-position: center 0;
}
.contact-section {
  display: flex;
}

.services-list {
  margin: 0 auto;
  letter-spacing: 2px;
  text-align: center;
  list-style-position: inside;
}

.services-list > li {
  font-size: 20px;
  padding: 10px;
}

.contact-box {
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
}

.contact-box p {
  margin-bottom: 15px;
}

.contact-box i {
  margin-right: 10px;
}

.contact-box a {
  text-decoration: none;
  color: #333;
}

.contact-box a:hover {
  color: rgba(13, 145, 165, 0.683);
  font-weight: 600;
}

/* //cennnik */

.prices-table {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  /* background-color: #333333; */
  background-color: #5de6de;
  background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
  color: #ddd;
  padding: 30px 10px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.prices-table td {
  padding: 10px 30px;
}

/* footer  */

footer {
  height: 80px;
  line-height: 75px;
  color: #fff;
  background-color: #333;
  /* color: #ddd; */
  background-color: #5de6de;
  background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
  text-align: center;
  font-size: 20px;
}

.icon-box a {
  margin: 0 5px;
  text-decoration: none;
  color: #ddd;
  font-size: 25px;
}

.icon-box a:hover {
  color: rgba(13, 145, 165, 0.683);
}

@media (min-width: 300px) {
  main {
    width: 300px;
    margin: 50px auto;
  }

  .header-txt {
    width: 300px;
    text-align: center;
  }

  .header-txt h1 {
    font-size: 24px;
  }
  .header-txt p {
    font-size: 16px;
  }

  .nav-item a {
    padding: 0 14px;
    font-size: 14px;
  }

  .my-picture {
    width: 250px;
    height: 250px;
  }

  .info-about-me {
    width: 100%;
  }

  .about-us-box {
    width: 290px;
  }

  .about-us-bg {
    height: 65%;
  }
  .about-us-txt {
    bottom: 8px;
    padding: 10px 10px;
  }

  .about-me {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .info-about-me {
    padding: 20px;
  }

  .skill-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
  }

  .boxes-content-skill {
    width: 120px;
    height: 120px;
    margin: 7px;
  }

  .skills {
    width: 290px;
  }

  .skill-txt {
    top: 25%;
    font-size: 15px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 160px;
  }

  .services-list {
    width: 290px;
  }

  .table-prices {
    margin: 0 auto;
  }

  .prices-table {
    width: 280px;
  }
  .prices-table td {
    padding: 10px 5px;
  }

  .contact-img {
    width: 100%;
    border-top-left-radius: 75px;
    border-bottom-right-radius: 75px;
  }
  .contact-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .contact-box {
    margin: 30px auto;
  }
}

@media (min-width: 400px) {
  main {
    width: 400px;
    margin: 50px auto;
  }

  .about-us-box {
    width: 100%;
  }

  .skills {
    width: 100%;
  }

  footer {
    height: 80px;
  }

  .services-list {
    width: 400px;
  }

  .table-prices {
    margin: 0 auto;
  }

  .prices-table {
    width: 390px;
    padding: 30px 30px;
  }
}

@media (min-width: 576px) {
  main {
    width: 510px;
    margin: 50px auto;
  }

  .about-us-bg {
    height: 50%;
  }

  .about-us-box {
    width: 100%;
  }
  .header-txt {
    width: 400px;
    text-align: center;
  }
  .header-txt h1 {
    font-size: 40px;
  }
  .header-txt p {
    font-size: 22px;
  }

  .nav-item a {
    padding: 0 30px;
    font-size: 16px;
  }
  .about-me {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .info-about-me {
    width: 100%;
  }

  .skill-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
  }

  .skill-txt {
    top: 35%;
    font-size: 18px;
  }

  .boxes-content-skill {
    width: 200px;
    height: 200px;
  }

  footer {
    height: 80px;
  }

  .services-list {
    width: 500px;
  }

  .table-prices {
    margin: 0 auto;
  }

  .prices-table {
    width: 520px;
    padding: 20px 20px;
  }
}

@media (min-width: 768px) {
  main {
    width: 700px;
    margin: 50px auto;
  }

  .about-us-bg {
    height: 40%;
  }

  .header-txt {
    width: 450px;
    text-align: center;
  }

  .header-txt h1 {
    font-size: 33px;
  }
  .header-txt p {
    font-size: 22px;
  }

  .about-me {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .skills {
    width: 100%;
  }
  .skill-block {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
  }

  .boxes-content-skill {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 992px) {
  main {
    width: 880px;
    margin: 50px auto;
  }

  .about-us-bg {
    height: 35%;
  }

  .header-txt {
    width: 450px;
    text-align: center;
  }

  .header-txt h1 {
    font-size: 33px;
  }
  .header-txt p {
    font-size: 22px;
  }

  .about-me {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .my-picture {
    margin: 0 20px;
    width: 350px;
    height: 350px;
  }

  .info-about-me {
    width: 50%;
    margin: 0 20px;
  }
  .boxes-content-skill {
    width: 200px;
    height: 200px;
  }

  .contact-section {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .contact-img {
    width: 100%;
    background-position: 0 40%;
  }
  .contact-box {
    margin: 30px 20px;
  }
}

@media (min-width: 1200px) {
  main {
    width: 1200px;
    margin: 50px auto;
  }

  .info-about-me {
    width: 100%;
  }

  .about-us-bg {
    height: 35%;
  }
  .about-me {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .my-picture {
    margin: 0 20px;
    width: 350px;
    height: 350px;
  }

  .info-about-me {
    width: 50%;
    margin: 0 20px;
  }
}
